@using System.Globalization
@model SuperMed.Models.ViewModels.EditDoctorAbsencesViewModel
@{
    ViewData["Title"] = "Edycja nieobecności";
}

<h3>Doktorze, edytuj dodane nieobecności</h3>

<a asp-controller="Doctors" asp-action="Index">← Wróć</a>

<h4>Lista dodanych nieobecności</h4>
<ul class="list-group">

    @if (@Model.DoctorAbsences.Count == 0)
    {
        <li class="list-group-item">Nie masz jeszcze żadnych zaplanowanych nieobecności.</li>
    }
    else
    {
        foreach (var modelAbsence in Model.DoctorAbsences)
        {
            <li class="list-group-item">
                <button  type="button" class="btn btn-primary">@modelAbsence.AbsenceDate.ToString("D", new CultureInfo("PL-pl"))</button>&nbsp;
                @modelAbsence.AbsenceDescription
                <a asp-controller="Doctors" asp-action="DeleteDoctorAbsence" asp-route-id="@modelAbsence.DoctorAbsenceId">
                </a>
                @Html.ActionLink("Usuń nieobecność", "DeleteDoctorAbsence",
                    new { id = modelAbsence.DoctorAbsenceId },
                    new { onclick = "return confirm('Czy jesteś pewny/a aby odwołać nieobecność?');", @class = "btn btn-warning float-right", @id=@modelAbsence.AbsenceDate.ToString("ddMMyyyy") })

                
            </li>
        }
    }
</ul>

