@model SuperMed.Models.ViewModels.DoctorsViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Panel doktora";
}

<div class="row">
    <div class="col-sm-8">
        <h3>Witamy panie doktorze, życzymy miłego dnia.</h3>
        <h6>Dzisiaj jest <em>@DateTime.Now.ToString("D", new CultureInfo("PL-pl"))</em></h6>
        <hr />
        <h4>Lista wizyt na dzisiaj:</h4>
        <ul class="list-group">
            @if (Model.Appointments.Count == 0)
            {
                <li class="list-group-item">Nie masz dzisiaj żadnych wizyt.</li>
            }
            else
            {
                foreach (var modelAppointment in Model.Appointments.OrderBy(a => a.StartDateTime))
                {
                    <li class="list-group-item">
                        <button type="button" class="btn btn-outline-secondary">@modelAppointment.StartDateTime.ToString("t")</button>&nbsp;
                        @modelAppointment.Patient.FirstName
                        @modelAppointment.Patient.LastName

                        @{
                            var imagePath = @"assets/" + modelAppointment.Status.ToString().ToLower() + ".png";
                        }

                        <img src="@imagePath" alt=""/>
                        <a asp-controller="Appointments" asp-action="Index" asp-route-Id="@modelAppointment.Id" class="btn btn-info float-right">Otwórz</a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Twoje ustawienia</h5>
                </div>
                <p class="mb-1">Lista dostępnych opcji</p>
            </a>
            <a asp-controller="Doctors" asp-action="DoctorAppointmentHistory" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Historia twoich wizyt</h5>
                </div>
                <p class="mb-1">Zobacz historię swoich wizyt.</p>
            </a>
            <a asp-controller="Doctors" asp-action="AddDoctorAbsence" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Dodaj dzień wolny</h5>
                </div>
                <p class="mb-1">Dodaj dzień nieobecności.</p>
            </a>
            <a asp-controller="Doctors" asp-action="EditDoctorAbsences" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Edytuj nieobecności</h5>
                </div>
                <p class="mb-1">Usuń zaplanowane nieobecności.</p>
            </a>
            <a class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Nadchodzące nieobecności</h5>
                </div>
                <ul class="list-group mt-2">
                    @if (Model.NextDoctorsAbsences.Count == 0)
                    {
                        <li class="list-group-item">
                            Nie masz zaplanowanych nieobecności.
                        </li>
                    }
                    else
                    {
                        @foreach (var absence in Model.NextDoctorsAbsences)
                        {
                            <li class="list-group-item bg-warning">
                                <i class="fas fa-calendar-times"></i>&nbsp;&nbsp;<b>@absence.AbsenceDate.ToString("dd MMMM yyyy", new CultureInfo("PL-pl"))</b>
                            </li>
                        }
                    }
                </ul>
            </a>
        </div>
    </div>
</div>
