@using System.Globalization
@model SuperMed.Models.ViewModels.CreateVisitStep3ViewModel

@{
    ViewData["Title"] = "Nowa wizyta - krok 3";
}

<h3>Zarejestruj nową wizytę - potwierdzenie</h3>

<a asp-controller="Patients" asp-action="CreateVisit">← Wróć do początku</a>

<hr />
<form asp-controller="Patients" asp-action="SubmitVisit" method="post" class="form-group" role="form">
    <div class="form-group">
        <div class="col-md-10">

            @Html.HiddenFor(m => m.Description)
            @Html.HiddenFor(m => m.DoctorName)
            @Html.HiddenFor(m => m.StartDateTime)
            @Html.HiddenFor(m => m.TimeOfDay)

            <div class="form-group">
                <label>Wybrany doktor</label>
                <input type="text" class="form-control" id="" placeholder="@Model.Doctor.FirstName @Model.Doctor.LastName" disabled />
            </div>
            <div class="form-group">
                <label>Data i godzina wizyty</label>
                <input type="text" class="form-control" id="" placeholder="@Model.StartDateTime.ToString("f", new CultureInfo("PL-pl"))" disabled>
            </div>
            <div class="form-group">
                <label>Opis</label>
                <input type="text" class="form-control" id="" placeholder="@Model.Description" disabled />
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Krok 3</div>
            </div>
            <div class="form-group mt-3">
                <div class="alert alert-warning" role="alert">
                    Aby utworzyć wizytę, zweryfikuj podane dane i jeżeli są poprawne naciśnij przycisk Potwierdź.
                </div>
                <input type="submit" class="btn btn-danger float-right" value="Potwierdź" />
            </div>
        </div>
    </div>
</form>