@using SuperMed.Extensions
@model SuperMed.Models.ViewModels.PatientViewModel
@{
    ViewData["Title"] = "Panel pacjenta";
}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <h5 class="card-header">
                Twoje wizyty
                <a class="btn btn-primary float-right" asp-controller="Patients" asp-action="CreateVisit">Zarejestruj wizytę</a>
            </h5>
            <div class="card-body">
                <p class="card-text"><i>Nadchodzące wizyty</i></p>
                <ul class="card-text">
                    @if (Model.GetUpcommingAppointments.Count == 0)
                    {
                        <li class="list-group-item">Nie masz zaplanowanych żadnych wizyt.</li>
                    }
                    else
                    {
                        foreach (var modelAppointment in Model.GetUpcommingAppointments)
                        {
                            <li class="list-group-item">
                                <button type="button" class="btn btn-outline-primary" style="min-width: 290px">
                                    @modelAppointment.StartDateTime.ToString("f")
                                </button>&nbsp;
                                @modelAppointment.Doctor.LastName
                                @modelAppointment.Doctor.FirstName
                                <div class="btn-group float-right" role="group" aria-label="Basic example">
                                    <a asp-controller="Appointments" asp-action="Index" asp-route-Id="@modelAppointment.Id" class="btn btn-secondary">Edytuj</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div><div class="card-body">
                <p class="card-text"><i>Poprzednie wizyty</i></p>
                <ul class="card-text">
                    @if (Model.GetPastAppointments.Count == 0)
                    {
                        <li class="list-group-item">Nie masz żadnych wizyt.</li>
                    }
                    else
                    {
                        foreach (var modelAppointment in Model.GetPastAppointments.Take(5))
                        {
                            <li class="list-group-item">
                                <button type="button" class="btn btn-outline-secondary disabled" style="min-width: 290px">
                                    @modelAppointment.StartDateTime.ToString("f")
                                </button>&nbsp;
                                @modelAppointment.Doctor.LastName
                                @modelAppointment.Doctor.FirstName
                                <a asp-controller="Appointments" 
                                   asp-action="Index" 
                                   asp-route-Id="@modelAppointment.Id" 
                                   class="btn btn-outline-info float-right">Zobacz</a>
                            </li>
                        }
                        <br />
                        <a class="btn btn-light float-right" asp-controller="Patients" asp-action="PatientAppointmentHistory">Historia wizyt</a>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Twoje informacje</h5>
            <div class="card-body">
                <p class="card-text">
                    Witamy, @Model.Patient.FirstName!
                    <br />
                    <br />
                    @Model.Patient.FirstName.Capitalize() @Model.Patient.LastName.Capitalize()
                    <br />
                    @Model.Patient.Age lat (@Model.Patient.BirthDate.ToString("dd/MM/yyyy")), @Model.Patient.Gender.GetDisplayName()
                    <br />
                    Telefon: @Model.Patient.Phone
                    <br />
                    <br />
                    <a class="btn btn-light" asp-controller="Patients" asp-action="ChangeInfo">Zmień dane</a>
                </p>
            </div>
        </div>
    </div>
</div>
